
.header {
    /* position: fixed; */
    background-color: #F6F2F1;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    color:#605857;
}

.header-body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    width: 100%;
}

.header-logo {
    overflow: hidden;
    position: relative;
    z-index: 3;
    margin: 0px 70px;
}

.header-logo-2 {
    color: #C2B4B1;
    font-family: 'Lighthaus';
    font-size: 20px;
    display: none;
}

.header-logo-3 {
    display: none;
}

.header-burger {
    display: none;
}

.header-menu {
    display: flex;
    flex-direction: row;
}

.header-list {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.header-list li {
    list-style: none;
    margin-right: 20px;
    margin: 0px 35px;
    color:#605857;
    font-size: 14px;
}

.header-link {
    color: #605857;
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    position: relative;
    transition: 0.2s all;
    cursor: pointer;
}

.header-link:hover {
    color: #605857;
    transition: 0.2s all;
}

.header-link::after {
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    bottom: -10px;
    width: 90%;
    height: 0.5px;
    background-color: #605857;
    transition: 0.4s all;

}

.header-link:hover::after {
    opacity: 1;
    bottom: -5px;
}


@media screen and (max-device-width: 992px) {
    body.lock {
        overflow: hidden;
    }

    .header-body {
        height: 60px;
        display: flex;
        justify-content: space-between;
    }

    .header-logo {
        display: none;
    }

    .header-logo-2 {
        display: block;
    }

    .header-logo-3 {
        display: block;
        margin-top: 30px;
        margin-left: 13%;
    }

    .header-burger {
        display: block;
        position: relative;
        width: 25px;
        height: 20px;
        z-index: 3;
    }

    .header-burger span {
        position: absolute;
        background-color: #C2B4B1;
        left: 0;
        width: 100%;
        height: 1.5px;
        top: 9px;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        -ms-trasition: all 0.3s ease 0s;
    }

    .header-burger:before,
    .header-burger:after {
        content: '';
        background-color: #C2B4B1;
        position: absolute;
        width: 100%;
        height: 1.5px;
        left: 0;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        -ms-trasition: all 0.3s ease 0s;
    }

    .header-burger:before {
        top: 0;
    }

    .header-burger:after {
        bottom: 0;
    }

    .header-burger.active span {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
    }

    .header-burger.active:before {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        top: 9px;
    }

    .header-burger.active:after {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        bottom: 9px;
    }

    .header-menu {
        position: fixed;
        flex-direction: column;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        -ms-trasition: all 0.3s ease 0s;
        background-color: white;
        padding: 70px 10px 20px 10px;
        overflow: auto;
    }

    .header-menu.active {
        right: -60%;
        z-index: 1;
    }

    .header-list {
        display: block;
    }

    .header-list li {
        margin-bottom: 20px;
    }
}

@media(max-width: 769px) {
    .header-logo-3 {
        margin-left: 10%;
    }
}

@media screen and (max-device-width: 479px) {
    .header-logo-3 {
        margin-left: 5%;
    }
    .header-menu { 
        padding: 70px 10px 20px 0px;
    }
    .header-list li {
        margin-left: 15px;
    }
}
